.services {
  .services_wrapper {
    padding: 75px 130px;
    .services_bText {
      font-family: 'PantonBold';
      font-size: 48px;
      color: #12354b;
      margin-bottom: 14px;
    }
    .services_sText {
      font-size: 24px;
      color: #737373;
      max-width: 430px;
      margin-bottom: 70px;
    }
    .services_row {
      display: flex;
      justify-content: space-between;
      height: 290;
      margin-bottom: 40px;
      .services_service {
        display: flex;
        flex-direction: column;
        transition: padding 0.5s ease;
        &:hover {
          padding-top: 30px;
          transition: padding 0.5s ease;
          background: #38bcea;
          box-shadow: 0px 20px 50px rgba(165, 165, 165, 0.2);
          .service_text {
            color: #ffffff;
            margin-bottom: 32px;
          }
          .service_hoverArrow {
            opacity: 1;
          }
        }
        text-align: center;
        justify-content: space-between;
        background: #fbfbfb;
        border-radius: 5px;
        width: 230px;
        height: 280px;
        padding-top: 40px;
        cursor: pointer;
      }
      #active {
        padding-top: 30px;
        transition: padding 0.5s ease;
        background: #38bcea;
        box-shadow: 0px 20px 50px rgba(165, 165, 165, 0.2);
        .service_text {
          color: #ffffff;
          margin-bottom: 32px;
        }
        .service_hoverArrow {
          opacity: 1;
        }
      }
      .service_img {
        margin-bottom: 30px;
        height: 78px;
        margin: 0 auto;
        background-position: center;
        width: 100%;
        background-repeat: no-repeat;
      }
      .service_text {
        font-family: 'PantonBold';
        font-size: 26px;
        max-width: 220px;
        color: #454545;
        margin: 0 auto;
      }
      .service_hoverArrow {
        opacity: 0;
        background-color: #fcfcfc;
        width: 100%;
        padding: 15px 0;
      }
      &:last-child {
        max-width: 744px;
        margin: auto;
      }
      .services_service:hover {
        .service_img {
          img {
            display: none;
          }
        }
      }
    }
    #services_row1 {
      .services_service:nth-child(1):hover {
        .service_img {
          background-image: url("../../assets/img/dentalTreatmentWhite.svg");
        }
      }
      .services_service:nth-child(2):hover {
        .service_img {
          background-image: url("../../assets/img/hygieneWhite.svg");
        }
      }
      .services_service:nth-child(3):hover {
        .service_img {
          background-image: url("../../assets/img/bracesWhite.svg");
        }
      }
      .services_service:nth-child(4):hover {
        .service_img {
          background-image: url("../../assets/img/childDentWhite.svg");
        }
      }
      .services_service:nth-child(5):hover {
        .service_img {
          background-image: url("../../assets/img/implantsWhite.svg");
        }
      }
    }
    #services_row2 {
      .services_service:nth-child(1):hover {
        .service_img {
          background-image: url("../../assets/img/veneersWhite.svg");
        }
      }
      .services_service:nth-child(2):hover {
        .service_img {
          background-image: url("../../assets/img/crownsWhite.svg");
        }
      }
      .services_service:nth-child(3):hover {
        .service_img {
          background-image: url("../../assets/img/surgeryWhite.svg");
        }
      }
    }
    .services_choices {
      margin-bottom: 50px;
      .services_choice {
        background-color: #fbfbfb;
        padding-left: 38px;
        display: flex;
        margin-bottom: 18px;
        gap: 60px;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        font-weight: 400;
        font-size: 24px;
        .choice_text {
          flex: 1;
        }
        .choice_button {
          button {
            background: #38bcea;
            box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
            border-radius: 2px;
            padding: 15px 50px;
            color: #ffffff;
            font-family: 'ArialBold';
            font-size: 20px;
            border: none;
            cursor: pointer;
          }
        }
        .datePicker {
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          z-index: 2;
          background-color: rgba(0, 0, 0, 0.25);
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        .picker_row {
          display: flex;
          align-items: center;
          gap: 5px;
          .picker_close {
            color: red;
            font-size: 22px;
            padding: 9px;
            cursor: pointer;
            height: 40px;
          }
        }
        :global {
          .react-datepicker__month-container {
            margin-bottom: 5px;
          }
          .react-datepicker__time-list-item--disabled {
            display: none;
          }
        }
      }
    }
  }
}
