.authorization {
    background-image: url(https://phonoteka.org/uploads/posts/2022-09/1663956204_1-phonoteka-org-p-oboi-dlya-stomatologov-instagram-2.jpg);
    background-size: 100% 100%;
    height: 47vw;
  .authorization_wrapper {
    padding-top: 160px;
    .authorization_form {
      max-width: 400px;
      margin: auto;
      text-align: center;
      background: #9e9e9e5e;
    height: 400px;
    padding-top: 35px;
      .authorization_bText {
        font-family: "PantonBold";
        font-size: 24px;
        margin-bottom: 50px;
      }
      input {
        padding: 10px;
        margin-bottom: 40px;
        font-size: 17px;
        width: 330px;
      }
      button {
        padding: 10px 15px;
        font-size: 17px;
        border: none;
        background: #38bcea;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
      }
      .dontHaveAccauntText {
        border-bottom: 1px solid #000;
        max-width: 155px;
        margin: 30px auto;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
