.personalArea {
  .personalArea_wrapper {
    padding: 130px;
    .personalArea_bText {
      margin-bottom: 30px;
      font-size: 32px;
      font-family: "PantonBold";
      color: #12354b;
    }
    .personalArea_row {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      .personalArea_column {
        border-radius: 10px;
        padding: 30px;
        .column_bText {
          font-size: 24px;
          margin-bottom: 20px;
        }
        &:first-child {
          background-color: rgb(196, 255, 255);
          font-size: 20px;
          max-height: 450px;
          font-size: 18px;
          .userInfo {
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 17px;
          }
          .info {
            margin-bottom: 15px;
          }
          .userPassword_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            gap: 20px;
            .userPassword_dots {
              display: flex;
              flex: 1;
              align-items: center;
              .userPassword_dot {
                display: inline-flex;
                &::before,
                &::after {
                  content: "";
                  margin-right: 5px;
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background-color: black;
                }
              }
            }
            .seePassword {
              color: rgba($color: #000000, $alpha: 0.6);
              cursor: pointer;
              font-size: 16px;
            }
          }
          .changeInfo {
            cursor: pointer;
            margin-bottom: 15px;
          }
          .logOut {
            cursor: pointer;
          }
        }
        &:last-child {
          flex: 1;
          background-color: aquamarine;
          padding-right: 0;
          .records {
            width: 100%;
            border-collapse: collapse;
            tbody {
              tr {
                border-top: 20px solid transparent;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: left;

      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      &_form {
        max-width: 400px;
        margin: 15px auto;
        padding: 35px;
        text-align: center;
        background: #ffffff5e;
        .modal_inputForm {
          text-align: left;
        }
        .modal_firstLastNameRow {
          display: flex;
          justify-content: center;
          gap: 30px;
          input {
            width: 150px;
          }
        }
        input {
          padding: 10px;
          font-size: 17px;
          margin-bottom: 35px;
          width: 330px;
        }
        .modalButton {
          button {
            padding: 10px 15px;
            font-size: 17px;
            border: none;
            background: #38bcea;
            border-radius: 5px;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
