.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 110px;
  }
  
  .seti {
  display: flex;
justify-content: space-evenly;
width: 12%;
  }

  .imggoogle {
    width: 25px;
    height: 25px;
  }

  .imginsta {
    width: 25px;
    height: 25px;
  }

  .imginvis {
    width: 25px;
    height: 25px;
  }


  .vkladki {
    display: flex;
    justify-content: space-around;
    width: 37%;
    font-size: 18px;
    padding-right: 29px;
  }

  .onas {
    text-decoration: none;
    color: #01678A;
  }

  .uslugi {
    text-decoration: none;
    color: #AAAAAA;
  }

  .spec {
    text-decoration: none;
    color: #AAAAAA;
  }

  .pacient {
    text-decoration: none;
    color: #AAAAAA;
  }

  .contacts {
    text-decoration: none;
    color: #AAAAAA;
  }
 
  .marsh {
  display: flex;
  justify-content: space-around;
  width: 14%;
  align-items: center;
  font-size: 15px;
  }

  .imgmarsh {
  width: 15px;
  height: 20px;
  }

  .raspis {
  display: flex;
  justify-content: space-around;
  width: 13%;
  align-items: center;
  font-size: 15px;
  }

  .calen {
    width: 15px;
    height: 17px;
  }

  .dni {
    color: #909090;
  }

  .telefon {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  font-size: 15px;
  }

  .voyti {
  width: 40px;
  height: 40px;
 
  }