.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 110px;
  }
  
  .seti {
  display: flex;
justify-content: space-evenly;
width: 13%;
  }

  .imggoogle {
    width: 30px;
    height: 30px;
  }

  .imginsta {
    width: 30px;
    height: 30px;
  }

  .imginvis {
    width: 30px;
    height: 30px;
  }


  .vkladki {
    display: flex;
    justify-content: space-around;
    width: 29%;
    font-size: 19px;
    padding-right: 29px;
  }

  .onas {
    text-decoration: none;
    color: #01678A;
  }

  .uslugi {
    text-decoration: none;
    color: #AAAAAA;
  }

  .spec {
    text-decoration: none;
    color: #AAAAAA;
  }

  .pacient {
    text-decoration: none;
    color: #AAAAAA;
  }

  .contacts {
    text-decoration: none;
    color: #AAAAAA;
  }
 
  .marsh {
  display: flex;
  justify-content: space-between;
  width: 10%;
  align-items: center;
  
  }

  .imgmarsh {
  width: 15px;
  height: 20px;
  }

  .raspis {
  display: flex;
  justify-content: space-around;
  width: 10%;
  align-items: center;
  }

  .dni {
    color: #909090;
  }

  .telefon {
  display: flex;
  justify-content: space-evenly;
  width: 8%;
  }

  .zvonok {
  width: 166px;
  height: 36px;
  color: white;
  background-color: #38BCEA;
  border: 0;
  border-radius: 3px;
  }