.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 17px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.vkladki {
  display: flex;
  justify-content: space-around;
  width: 37%;
  font-size: 18px;
  padding-right: 29px;
  font-family: "Roboto", sans-serif;
  p {
    cursor: pointer;
    color: #aaaaaa;
    &:hover {
      transition: 0.5s ease;
      color: #01678a;
    }
  }
}

.marsh {
  display: flex;
  justify-content: space-around;
  width: 14%;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.imgmarsh {
  width: 15px;
  height: 20px;
}

.raspis {
  display: flex;
  justify-content: space-around;
  width: 13%;
  align-items: center;
  font-size: 15px;
}

.calen {
  width: 15px;
  height: 17px;
}

.dni {
  color: #909090;
}

.telefon {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  font-size: 15px;
}

.voyti {
  width: 35px;
  height: 35px;
}